:root {
    --sidebar-color:  #152a3e;
    --content-background: var(--sidebar-color);

    --kekw-orange: #be664a;
    --kekw-orange-hover: #dd5931;
    --top-bar-color: #203442;
    --active-color: #10222f;
    --hover-color: #2b4457;
    --alt-color: #1f4964;
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, .2), 0 4px 6px -2px rgba(0, 0, 0, .1);
    --shadow-lrg: 10px 10px 15px -3px rgba(0, 0, 0, .2), 0 4px 6px -2px rgba(0, 0, 0, .1);
}
  

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Consolas', monospace;
    background-color: rgba(33, 33, 33, 0.95);
    transition: all 0.3s;
    padding-top: 20px;
}

.btn-thicc {
    font-weight: 700;
    font-size: 0.9rem;
    padding: .500rem .500rem;
}